<div class="flex justify-center items-center h-screen bg-red-400">
  <div class="container h-200 flex justify-center items-center">
    <div class="h-full w-3/5">
      <img
        src="../../assets/login-page-image.jpg"
        class="rounded-xl h-full rounded-r-none xl:min-w-5xl"
        alt=""
        srcset=""
      />
    </div>

    <div class="h-full w-2/5 rounded-l-none rounded-xl bg-white relative">
      <div class="content p-10">
        <div class="header">
          <h3 class="text-xl">Chatter</h3>
        </div>
        <div class="form mt-10">
          <h1 class="text-2xl text-bold">Nice to see you again</h1>
          <div class="input-fields flex flex-col py-5 gap-3">
            <small class="px-5" for="email">Login</small>
            <input
              class="py-4 bg-gray-100 rounded-sm px-3"
              type="text"
              name=""
              id="email"
              placeholder="Email or phone number"
            />
            <small class="px-5" for="password">Password</small>
            <input
              class="py-4 bg-gray-100 rounded-sm px-3"
              type="text"
              name=""
              id="password"
              placeholder="Enter password"
            />

            <div class="flex justify-between text-sm mt-3 mb-5">
              <mat-slide-toggle>Remember me!</mat-slide-toggle>

              <span class="">Forgot password?</span>
            </div>

            <input
              type="submit"
              value="Sign in"
              class="bg-red-400 py-2 rounded-lg"
            />

            <div class="mt-10">
              <hr />
              <input
                type="submit"
                value="Sign in with google"
                class="bg-red-400 py-2 rounded-lg mt-10 w-full"
              />
            </div>

            <h4 class="text-sm text-center mt-3">
              Don't have an account? <span>Sign up now</span>
            </h4>

            <div class="flex justify-between w-130 absolute bottom-10">
              <h1>Chatter</h1>
              <h1>copyright Chatter</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
